<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<div class="container" style="min-height: 500px">

    <div class="starter-template">
        <h1>BOC Weather data details</h1>

        <div id="details">
        		<label>Station</label><input id="station"></input><br/>
        		<label>Province</label><input id="province"></input><br/>
        		<label>Date</label><input id="date"></input><br/>
        		<label>Mean Temp</label><input id="meanTemp"></input><br/>
        		<label>Lowest Monthly Min Temp</label><input id="lowestMonthly_Min_Temp"></input><br/>
        		<label>Highest Monthly Max Temp</label><input id="highest_Monthly_Max_Temp"></input><br/>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="webjars/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="js/details.js"></script>

</body>
</html>